*{
    box-sizing: border-box;
}
body {
    height: 100vh;
    width: 100%;
    margin: 0;
}

#contaainer {
    height: 100vh;
    width: 100%;
    margin: 0;
}
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

#main {
    border: solid grey 2px;
    height: 50vh;
}

button {
    border-radius: 5px;
    text-align: center;
}

#wrapped {
    flex-wrap: wrap;
    gap: 10vh;
    flex-grow: 2;
    margin-inline: 0;
}

#left {
    width: 30%;
}

#biggest {
    padding-inline: 10%;
    gap: 40px;
}

h1 {
    padding-inline: 10%;
}

.smallWrapped {
    border-radius: 10px;
    border: solid grey 2px;
    width: 25vh;
    height: 40vh;
}

#input2 {
    border: solid transparent 0px;
    width: 4vh;
    text-align: center;
}